<nav class="navbar bg-secondary fixed-top nav-pills bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<div style="font-size: 2.5rem;
			font-family: 'Monoton', cursive;
			text-decoration: none;" class="logo">Rand()Tune</div>
		</a>
		<ul class="nav nav-pills text-white">
			<li class="nav-item">
				<a class="nav-link" routerLink="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/newsong">New Song</a>
			</li>
			<li class="nav-item dropdown">
				<a href="/user" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
				<ul class="dropdown-menu">
					<a class="dropdown-item">Musicians</a>
					<a class="dropdown-item">Artists</a>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Upload</a>
				<div class="dropdown-menu">
					<a class="dropdown-item">Music</a>
					<a class="dropdown-item">Artwork</a>
				</div>
			</li>
		</ul>
		<ul class="nav nav-pills navbar-right">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" href="javascript:initXHR('user', null)">My Profile</a>
				<a class="dropdown-item">Settings</a>
			</div>
		</li>
		</ul>
	</div>
</nav>

  <ul class="dropdown-menu" uib-dropdown-menu>
	<li><a href="#">Action</a></li>
	<li><a href="#">Another action</a></li>
	<li><a href="#">Something else here</a></li>
	<li role="separator" class="divider"></li>
	<li><a href="#">Separated link</a></li>
	<li role="separator" class="divider"></li>
	<li><a href="#">One more separated link</a></li>
  </ul>